* {
	margin: 0;
	padding: 0;
}
html, body {
	height: 100%;
}
body {
	background: linear-gradient(to bottom, #f91717 0%, white 100%); 
	overflow: hidden;
}
#barra {
	background-color: rgba(197, 0, 0, 0.36);
	font-family: Ubuntu, Georgia;
	width: 100%;
	text-align: center; 
	display: inline-block;
}
#barra a {
	display: inline-block;
	color: black;
	float: left;
	vertical-align: super;
	margin: 10px;
	font-size: 24pt;
}
#descricao {
	text-align: center;
	color: mistyrose;
	width: 100%;
	font-family: Georgia, serif;
	position: absolute;
	top: 7%;
	text-shadow: 2px 2px 8px black;
}

#foto{
	width: 100%;
	text-align: center;
	position: absolute;
	top: 10%;
	height: 88%;
}
#foto img {
	max-width: 800px;
	height: 100%;
}
.botoes {
	position: absolute;
	background-color: white;
	border: 1px solid seashell;
	cursor: pointer;
}

#anterior {
	top: 50%;
	left: 3%;
}
#anterior:hover {
	background-color: #fc7f7f;
}

#proximo {
	top: 50%;
	right: 3%;
}
#proximo:hover {
	background-color: #fc7f7f;
}