*{
	padding: 0;
	border: 0;
	margin: 0;
	user-select: none;
	cursor: url(../../../imagens/unicornio.png), auto;
}
*:focus{
	outline: 0;
}
html, body{
	height: 100%;
}
body{
	background: linear-gradient(to bottom, #1b90ff 0%, white 100%);
}
p{
	font-family: Arial, serif;
	color: black;
}
#titulo{
	display: inline-block;
	float: inherit;
}
#menu{
	display: inline-block;
	cursor: pointer;
	float: left;
	padding-left: 50px;
}
#menu:hover{
	color: mistyrose;
}
.barra{
	font-family: Ubuntu, Calibri;
	color: #000000;
	font-size: 36px;
}
#barra{
	position: fixed;
	width: 100%;
	text-align: center;
	background-color: rgba(111, 111, 111, 0.51);
	padding: 8px;
}
.jogos{
	transition: 2s all;
	color: black;
	border-radius: 1px;
	background-color: rgba(247, 247, 247, 0.68);
	font-family: Calibri;
	font-size: 24px;
	text-align: center;
	padding: 3px;
	opacity: 0;
}
.jogos:hover{
	background-color: seashell;
}
#jogos{
	position: absolute;
	top: 15%;
	left: 2%;
}
#njogos{
	position: absolute;
	top: 25%;
	left: 2%;
}
#lucas{
	position: absolute;
	top: 35%;
	left: 2%;
}
#unigato{
	transition: 3s all;
	position: fixed;
	top: 100%;
	left: 40%;
	width: 335px;
	height: 180px;
}
#oi{
	position: fixed;
	top: 90%;
	left: 10%;
	font-size: 24px;
	font-family: Georgia, sans-serif;
}
#primo{
	position: fixed;
	top: 0;
	left: 50%;
	margin-top: -36px;
	transition: 2s all;
}
#primao{
	background-color: tomato;
	font-family: Ubuntu, Calibri;
	padding: 8px;
	border-radius: 5px;
}
#primao:hover{
	background-color: #ff0000;
	cursor: pointer;
}
#hora{
	position: absolute;
	left: 5px;
	bottom: 5px;
	font-family: Ubuntu;
	background-color: mistyrose;
	border-radius: 100%;
	border: 1px solid black;
	padding: 0px 5px;
	font-size: 14px;

	 
}
#hora:hover{
	background-color: #ff0000;
}
#quehoradiv{
	position: absolute;
	font-family: Georgia;
	color: #ff008d;
	top: 90%;
	right: 3%;
}
#quehoradiv div{
	background-color: mistyrose;
	display: inline-block;
	border: 1px solid pink;
	padding: 3px;
}

#relogio {
	position: absolute;
	top: 10%;
	right: 3%;
	font-family: Calibri, Ubuntu;
	font-size: 38px;
	color: darkblue;
	background-color: #87CEEB;
	border-radius: 100%;
	padding: 6px;
	opacity: 0;
}

